
{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
  <link rel="stylesheet" href="static/style-about.css">

  <section class="about-us">
    <div class="about">
      <img src="/static/img/about.avif" class="pic">
      <div class="text">
        <h2>About Us</h2>
        <h5><span>Unish Resturant</span></h5>
          <p>At our restaurant, we believe that dining is a profound journey of the senses and the soul. We craft each dish with meticulous care, combining flavors like artists painting on a canvas. Beyond the plates, we embrace the essence of togetherness, recognizing that a shared meal can spark conversations that resonate long after the last bite. Join us in this gastronomic voyage, where food is a doorway to experiences that nourish both body and spirit.</p>
        <div class="data">
        <a href="#" class="hire">Order Here</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>{% endblock body %}
   
