{% extends 'base.html' %}

{% block title %}Foods{% endblock title %}

{% block body %}
<link rel="stylesheet" href="/static/style-food.css">
<section class="interior-section-two menu-section">

  <div class="menu-list menu-list__dotted menu-list-1">
    <h2 class="menu-list__title">Starters</h2>
    <hr class="separator">
    <ul class="menu-list__items">
            
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Soup</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Available in various type</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$1.5</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">MoMo</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Delicious dumpling with amazing filling</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$1.8</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Bara</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>A Newari pan cake</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>16</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Sukuti</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Dried meat of Buff with Nepali spice</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>12</p>
</span>
        </li>
          </ul>
  </div>

  <div class="menu-list menu-list__dotted menu-list-2">
    <h2 class="menu-list__title">Main Course</h2>
    <hr class="separator">
    <ul class="menu-list__items">
            
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Thukpa</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Noodles with tasty broth combined with veggies or meat</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$1</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Thakali Khana</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Typical Nepali main course</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$5</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Dal Bhat</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Most popular Nepali main course</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$3.5</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Sel Roti</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>A circular roti made from paddy</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>12</p>
</span>
        </li>
          </ul>
  </div>




 <div class="menu-list menu-list__dotted menu-list-3">
    <h2 class="menu-list__title">Desert</h2>
    <hr class="separator">
    <ul class="menu-list__items">
            
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Yomari</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Dumpling like item with sweet filling</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$1</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Sikarni</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Nepali sweetened yogurt</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$5</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Juju Dhau</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Yogurt mixed with fruits</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$3.5</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Jerry</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Fried wheat batter dipped in sugar syrup</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>12</p>
</span>
        </li>
          </ul>
  </div>
<div class="menu-list menu-list__dotted menu-list-3">
    <h2 class="menu-list__title">Western</h2>
    <hr class="separator">
    <ul class="menu-list__items">
            
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Pizza</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Pizza but Nepali style cooking</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$1</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Burger</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Burger with the Nepali flavour</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$5</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Mac & Cheese</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>Macroni covered in mozrella cheese</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>$3.5</p>
</span>
        </li>
      
        <li class="menu-list__item">
          <h4 class="menu-list__item-title">
          <span class="item_title">Grilled Chicken</span>
            <span class="dots"></span>
          </h4>
          <p class="menu-list__item-desc">
            <span class="desc__content"></span></p><p>A chicked grilled in coal and coated with Nepali spices</p>

          <p></p> 
          <span class="dots"></span>
          <span class="menu-list__item-price"><p>12</p>
</span>
        </li>
          </ul>
  </div>
</section>
{% endblock body %}
